@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* Shared Style */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
.primary-btn {
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.flower-background {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.description {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px auto;
  padding-bottom: 48px;
}
.flower-name {
  margin-top: 30px;
  text-decoration: underline;
  color: #e55473;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
span {
  color: #e55473;
}
hr {
  border: none;
  height: 1px;
  background-color: #e55473;
  margin: 0 auto 15px auto;
  width: 50%;
}
/* Banner section style */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  padding: 0 200px;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  display: flex;
  width: 708px;
  flex-direction: column;
  margin-top: 190px;
}
.banner-description {
  display: flex;
  width: 634px;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 32px;
}
#shop-now-btn {
  padding: 20px 43px;
  margin-top: 32px;
}
.banner-img {
  margin-top: 50px;
  margin-left: 90px;
}
/* Featured Flower Section style */
.featured-flower-container {
  text-align: center;
  padding: 170px 240px 128px 240px;
}
.flower {
  padding-right: 24px;
}
.featured-flower {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#bg-color1 {
  background: rgba(167, 33, 98, 0.15);
}
#bg-color2 {
  background: rgba(5, 151, 160, 0.15);
}
#bg-color3 {
  background: rgba(71, 125, 17, 0.15);
}
#flower-img-1 {
  width: 310px;
  height: 428px;
  margin: 0 auto;
}
#flower-img-2 {
  width: 370px;
  height: 370px;
  margin: 0 auto;
}
#flower-img-3 {
  width: 314px;
  height: 471px;
  margin: 0 auto;
}
/* Hot Deal Section Style */
.hot-deal-container {
  display: flex;
  background: rgba(229, 84, 115, 0.05);
  justify-content: space-around;
  align-items: center;
  padding-right: 400px;
}
.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin: 230px 215px 24px 423px;
}
.hot-deal-description {
  display: flex;
  width: 594px;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0px 186px 32px 395px;
}
#sign-up-btn {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  margin: 0px 417px 162px 603px;
}
.hot-deal-right-content {
  margin: 100px 429px 100px 486px;
}
.hot-deal-img {
  width: 318px;
  height: 420px;
}

/* Instagram Section Style */
.insta-container {
  margin-top: 128px;
  text-align: center;
}
.insta-img {
  padding: 0 140px 128px 140px;
}
.insta-img img {
  margin-right: 24px;
  box-shadow: 4px 4px 4px #e55473;
}

/* Seasonal FLower Section Style */

.seasonal-title-description {
  text-align: center;
  padding-top: 50px;
  background: rgba(229, 84, 115, 0.1);
}
#seasonal-description {
  width: 1100px;
}
.seasonal-flower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  margin-bottom: 100px;
}
.reverse {
  flex-direction: row-reverse;
}

.seasonal-flower-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  display: flex;
  width: 800px;
  flex-direction: column;
}
.seasonal-flower-description {
  display: flex;
  width: 634px;
  flex-direction: column;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 32px;
}
.seasonal-flower-img-title {
  display: block;
}
.seasonal-flower-img {
  width: 500px;
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 5px 5px 8px #e55473;
}
#img1 {
  background-image: url("./images/Sunflower\ -\ Summer.jpg");
}
#img2 {
  background-image: url("./images/Cherry\ Blossoms\ -\ Spring.jpg");
}
#img3 {
  background-image: url("./images/Chrysanthemum\ -\ Autumn.jpg");
}
#img4 {
  background-image: url("./images/Tulip\ -\ Winter.jpg");
}
.flower-img-name {
  margin-top: 15px;
  color: #e55473;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

/* Get latest deal section style */
.latest-deal-container {
  background-image: url("./images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 80%;
  margin: 10% auto 10% auto;
}
.title-description {
  text-align: center;
}
.latest-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}
.latest-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 122px;
}
.email-form {
  text-align: center;
}
.email {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  padding: 0 10px;
  border: 0;
  margin-right: 16px;
}
.subscribe-btn {
  width: 150px;
  height: 64px;
  margin-bottom: 122px;
}
/* Footer section style */
footer {
  background: #111010;
}
.footer-container {
  text-align: center;
  padding: 128px 0;
}
.footer-title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 625px;
  margin: 0 auto 16px auto;
}
.copyright-text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
